.app-header {
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.app-header-item {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.app-dropdown-item {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.app-header-link {
  margin: 0;
  padding: 0;
}
